
.link__back{
    color: black;
    font-size: 20px;
}

.character__info--card {
    width: 80%;
    height: 55vh;
    margin: auto;
    padding: 30px;
    box-shadow: 10px 10px 5px -5px rgb(102, 153, 153);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.character__image--detail{
    width: 200px;
    height: 300px;
    margin: 0 10px;
}

.character__name--detail{
    font-size: 30px;
    font-weight: 900;
}
.character__info--complete{
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin-left: 30px;
}

.character__home--detail{
    display: flex;
    flex-direction: column;
}