
.link__back{
    display: inline-block;
    color: black;
    font-size: 20px;
    margin: 20px 0 20px 30px;
}

.character__info--card {
    width: 80%;
    height: 55vh;
    margin: auto;
    padding: 30px;
    box-shadow: 10px 10px 5px -5px rgb(102, 153, 153);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.character__image--detail{
    width: 200px;
    height: 300px;
    margin: 0 10px;
}

.character__name--detail{
    font-size: 30px;
    font-weight: 900;
}
.character__info--complete{
    list-style: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin-left: 30px;
}

.character__home--detail{
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 768px){
    .character__info--complete{
        padding: 40px 20px;
        margin: auto;
    }

    .character__info--card{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80%;
        margin:0;
    }

    .character__image--detail{
        width: 125px;
        height: 175px;
    }

    .character__name--detail{
        font-size: 25px;
    }
    
    .character__home--detail{
        width: 80px;
        height: 80px;
    }

    .character__birthday .character__patronus .character__live .character__home{
        display: inline-block;
        font-size: 20px;
    }
    
}