* body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-size: 16px;
    font-family: 'Sofia', cursive;
    font-weight: 400;
}

.App {
    height: 100vh;
    width: 100vw;
    
}
.header{
    min-height: 20vh;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url("images/background.jpg");
    background-size: cover;
}

.logo__title{
    max-width: 50vh;
}

.title{
    font-size: 35px;
}

.main {
    height: 80vh;
    margin: 20px;
}


